* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0D0208;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: #003B00 6px ridge;
    background-color: #003B0073;
    
  }

  .inner-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 660px;
    height: 660px;
    filter: blur(2.5px);
  }

  .grid-square {
    height: 40px;
    width: 40px;
    /* border: 1px outset rgba(10, 2, 32, 0.336); */
  }
