* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0D0208;
}

.container {
  display: flex;
  border: #003B00 10px double;
  background-color: #003B0073;
  width: 800px;
  height: 800px;
  margin: 10px;
  padding: 1%;
}

.inner-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  filter: blur(2.5px);
}
