* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: orangered 4px inset;
    background-color: rgba(255, 127, 80, 0.596);
  }

  .inner-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 660px;
    height: 660px;
    border: 1px outset rgba(10, 2, 32, 0.336);
  }

  .grid-square {
    height: 40px;
    width: 40px;
    border: 1px outset rgba(10, 2, 32, 0.336);
  }
