* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
  margin-top: 10px;
  background-color: #0D0208;
}

.svg-container {
  position:relative;
  width: 500px;
  height: 500px;
}

.svg-content {
  position: absolute;
  top: -235px;
  left: -10px;
  right: -10px
}

.container {
  display: flex;
  border: #003B00 10px double;
  background-color: #003B0073;
  width: 800px;
  height: 800px;
  margin: 10px;
  padding: 1%;
}

.inner-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  filter: blur(1.5px);
}

.grid-square {
  box-shadow: 0 0 1px 2px #64ff8b09;
}